Source: libqzeitgeist
Section: libs
Priority: optional
Maintainer: Abner Silva <abner@collabora.co.uk>
Uploaders: Abner Silva <abner@collabora.co.uk>,
Build-Depends: cdbs,
               debhelper (>= 5),
               doxygen,
               libqt4-dev (>= 4.7.0),
               pkg-config (>= 0.21),
               python (>= 2.5),
Vcs-Git: http://git.gitorious.org/kde-zeitgeist/libqzeitgeist.git
Homepage: http://zeitgeist-project.com

Package: libqzeitgeist-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zeitgeist - Qt 4 library
 This package contains QtZeitgeist, a Qt-based library for Zeitgeist
 service.
 .
 Zeitgeist is a service which logs the users's activities and events,
 anywhere from files opened to websites visited and conversations.

Package: libqzeitgeist-dev
Architecture: any
Section: libdevel
Depends: libqt4-dev (>= 4.7.0),
         pkg-config (>= 0.21),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Qt 4 Zeitgeist library (headers and library)
 This package contains development files for libqzeitgeist, a Qt-based
 library for Zeitgeist service.
 .
 Zeitgeist is a service which logs the users's activities and events,
 anywhere from files opened to websites visited and conversations.
